{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome  Degenarates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="padding: 20px">
<div ><center><h1>Selected Client Is : {{ invoice_client_name }} </h1></center></div><hr>
<div ><center><h1>Selected Order Is : {{ invoice_order}} </h1></center></div>
</body>
</html>