{% load staticfiles %}
<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark ">
      <div class="container px-4">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/brand/logo.png' %}" />

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
          <!-- Collapse header -->
           {%  include "login/includes/login_collapse_navbar.html" %}
          <!-- Navbar items -->

        </div>
      </div>
    </nav>