{% load staticfiles %}
<div class="navbar-collapse-header d-md-none">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <img src="{% static 'img/brand/logo.png' %}" /> <span class="text-lg text-blue h1"><b style="color:rgb(254, 35, 6)">N</b>eno <b style="color:rgb(254, 35, 6)">C</b>oil</span>
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>